extends ../layouts/app.pug

block content
  div
    a(href='/') Main page
    
    table(class="table")
      tbody
        tr(class="table-primary")
          th= title
        tr
         td(class="table-light")= text
